programs:
  program1:
    name: "cblas_col_speed_test"
    path: "lib/build/cblas_col_speed_test"
    db_path: "results/cblas_col_speed_test.db"
    M_limit: [1, 4096]
    N_limit: [120, 12880]
    K_limit: [1, 4096]
    init:
      init_m_list: [1, 2, 4, 8, 16, 128, 256, 512, 4096]
      init_n_list: [120, 240, 480, 960, 1920, 3840, 7680, 15360, 30720, 61440, 12880]
      init_k_list: [1, 2, 4, 8, 16, 32, 64, 128, 256, 512, 1024, 2048, 4096]
  
  program2:
    name: "cblas_row_speed_test"
    path: "lib/build/cblas_row_speed_test"
    db_path: "results/cblas_row_speed_test.db"
    M_limit: [1, 4096]
    N_limit: [120, 12880]
    K_limit: [1, 4096]
    init:
      init_m_list: [1, 2, 4, 8, 16, 128, 256, 512, 4096]
      init_n_list: [120, 240, 480, 960, 1920, 3840, 7680, 15360, 30720, 61440, 12880]
      init_k_list: [1, 2, 4, 8, 16, 32, 64, 128, 256, 512, 1024, 2048, 4096]
  
  program3:
    name: "cublas_speed_test"
    path: "lib/build/cublas_speed_test"
    db_path: "results/cublas_speed_test.db"
    M_limit: [1, 4096]
    N_limit: [120, 12880]
    K_limit: [1, 4096]
    init:
      init_m_list: [1, 2, 4, 8, 16, 128, 256, 512, 4096]
      init_n_list: [120, 240, 480, 960, 1920, 3840, 7680, 15360, 30720, 61440, 12880]
      init_k_list: [1, 2, 4, 8, 16, 32, 64, 128, 256, 512, 1024, 2048, 4096]

defaults:
  M_limit: [1, 4096]
  N_limit: [120, 12880]
  K_limit: [1, 4096]
  init:
    init_m_list: [1, 2, 4, 8, 16, 128, 256, 512, 4096]
    init_n_list: [120, 240, 480, 960, 1920, 3840, 7680, 15360, 30720, 61440, 12880]
    init_k_list: [1, 2, 4, 8, 16, 32, 64, 128, 256, 512, 1024, 2048, 4096]